@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: rgb(116, 66, 30);
  font-family: "Changa", sans-serif;
  font-weight: 200;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: #090909;
}

#container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pre-click {
  position: fixed;
  font-size: 50px;
  color: aliceblue;
  font-family: "Rubik", sans-serif;
}

#post-click {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  height: 500px;
  width: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 1s;
}

#post-click p {
  color: rgb(100, 49, 10);
  font-family: "Changa", sans-serif;
  font-weight: 200;
  font-size: 2em;
  margin: 0px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

#intro #logo {
  height: 128px;
}
#intro h1 {
  color: #c77335;
  font-family: "Changa", sans-serif;
  font-weight: 200;
  font-size: 2em;
  margin-top: -10px;
  margin-bottom: -25px;
  padding: 0px;
}
#intro p {
  font-size: 1.2em;
  color: rgb(120, 69, 30);
}

#description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

#social-links-container {
  width: 40%;
}

#social-links a {
  color: rgb(116, 66, 30);
  font-family: "Changa", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

#post-click.hidden {
  transition-duration: 1ms;
}
.hidden {
  opacity: 0%;
  transition-delay: 1ms;
  transition-duration: 1ms;
}
.gone {
  display: none;
}
.gone * {
  display: none;
}
