@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: #090909;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg canvas {
  filter: blur(3px);
}

#container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pre-click {
  position: fixed;
  font-size: 3em;
  color: #ffffff;
  font-size: 5em;
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#pre-click.hidden {
  transition: 15s;
  filter: blur(15px);
}

#post-click {
  position: fixed;
  display: flex;
  height: min(40vw, 40vh); /* Minimum of 20% of viewport width or height */
  width: min(40vw, 40vh); /* Minimum of 20% of viewport width or height */
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 10s;
}

#post-click img {
  height: 80%;
  width: auto;
  filter: grayscale(100%);
}

.hidden {
  opacity: 0;
}
